
.scrollContainer {
    position: relative;
    height: 300vh; /* Adjust height based on content */
    overflow-x: hidden; /* Prevent horizontal scrollbars */
}

.contentWrapper {
    position: relative;
    z-index: 2;
}

.branchLeft,
.branchRight {
    display: flex;
    height: 100vh;
    width: 100%;
    position: sticky;
    top: 0;
    align-items: center;
}

.branchLeft {
    justify-content: flex-start;
}

.branchRight {
    justify-content: flex-end;
}

.branchLeft > section,
.branchRight > section {
    max-width: 80%;
    padding: 0 4rem;
}

.spacer {
    height: 100vh;
}
